.mod-last-loaded .rating-overlay {
  background: url(../img/stars_15x15.png) 0 0 repeat-x;
  width: 75px;
  height: 15px;
}

.mod-last-loaded .rating-overlay div {
  background: url(../img/stars_15x15.png) 0 -15px repeat-x;
  height: 15px;
}