/**
 * @ver 1.0
*/
.btn-speech-recognition {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 100;
}

.btn-speech-recognition input {
  border: none;
  background-color: transparent;
  color: transparent;
  -webkit-transform: scale(2.0,2.0);
  width: 16px;
  height: 20px;
  z-index: 100;
  cursor: pointer;
}

.btn-speech-recognition input:focus {
  outline: none;
}