/**
 * @ver 1.0
*/
#main {
  padding-top: 45px;
}

.btn-settings {
  .opacity(60);
  position: fixed;
  top: 5px;
  right: 5px;
  background: url(../template/settings/img/icon_30x30.png) 0 0 no-repeat;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.btn-settings:hover {
  .opacity(100);
}