.temp-item-list li {
  position: relative;
  float: left;
  width: 250px;
}

.temp-item-list li:hover {
  
}

.temp-item-list .video-title {
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5px;
  font-size: 18px;
  font-weight: bold;
  color: #FFF;
  width: 240px;
}

.temp-item-list .video-story {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
  color: #FFF;
  width: 240px;
}

.temp-item-list .rating-overlay {
  background: url(template/item_list/img/stars_15x15.png) 0 0 repeat-x;
  width: 75px;
  height: 15px;
}

.temp-item-list .rating-overlay div {
  background: url(template/item_list/img/stars_15x15.png) 0 -15px repeat-x;
  height: 15px;
}