.temp-item-list li {
  position: relative;
  float: left;
  width: 250px;
}

.temp-item-list li:hover {
  
}

.temp-item-list .video-title {
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5px;
  font-size: 18px;
  font-weight: bold;
  color: #FFF;
  width: 240px;
}

.temp-item-list .video-story {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
  color: #FFF;
  width: 240px;
}