/**
 * @ver 1.0
*/
.side-panel {
  overflow: hidden;
  position: fixed;
  top: 5%;
  right: 0;
  border: 2px solid #FFF;
  .rounded(0px, 0px, 20px, 20px);
  #gradient > .vertical(rgba(0, 76, 124, 0.8), rgba(0, 0, 0, 0.8));
  width: 0px;
  height: 90%;
  min-height: 60px;
  z-index: 10;
}

.side-panel-data {
  padding: 15px 15px 0 15px;
  margin-bottom: 15px;
}

.side-panel-container {
  overflow: hidden;
  margin-bottom: 5px;
  border: 1px solid #C0C0C0;
  .border-radius(5px);
  width: 0px;
}

.side-panel-container-header {
  padding: 5px;
  #gradient > .vertical(#C0C0C0, #FFFFFF);
  font-size: 16px;
  font-weight: bold;
  text-overflow: ellipsis;
  text-shadow: 1px 1px 0px #FFFFFF;
  white-space: nowrap;
  color: #032B44;
}

.side-panel-container-content {
  display: none;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
}